body {
    background-image: linear-gradient(to bottom right, #4da6ff, #ffffff);
    font-family: Arial;
}

#title {
    background-color: white;
    font-family: Lucida Sans Unicode;
    font-size: 40px;
    text-align: center;
		width: 70%;
    margin: auto auto;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 20px;
}

h3{
		font-size: 18px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 16px;
    text-align: center;
	  margin: 8px auto;
}
#numberOfStagesValue{
	  margin-left: 1px;
}

.globalGrid{
	display: grid;
	grid-template-columns: minmax(278px, 350px) minmax(205px, 400px) minmax(205px, 400px) 370px minmax(250px, 600px);
	grid-template-rows: 80px 440px 360px 380px;
}

#stagesSlider {
	grid-row: 1 / span 1;
	grid-column: 3 / span 1; 
  width: 180px;
}


#stage1{
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
}

#stage2 {
  display: inline;
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
}

#stage3 {
  display: inline;
	grid-row: 4 / span 1;
	grid-column: 1 / span 1;
}

.value2 {
    display: table-cell;
}

.value3 {
    display: table-cell;
}

.altitudePlot{
		
	grid-area: 2 / 2 / span 1 / span 1;
		
}
.velocityPlot{
		
	grid-area: 2 / 3 / span 1 / span 1;
	
}
.accelerationPlot{
		
	grid-area: 3 / 2 / span 1 / span 1;
	
}
.thrustPlot{
		
	grid-area: 3 / 3 / span 1 / span 1;
	
}
.exhaustPlot{
		
	grid-area: 4 / 2 / span 1 / span 1;
	
}

.plot{
	border: 1px solid black;
	/*margin: 0px 10px 10px 10px;*/
	/*float: left;*/
	
}

#unitsSlider {
   	display: none;
	  float: left;
   	margin-left: 20px;
   	margin-rigth: auto;
  	width: 110px;
}

.sliderContainer{
    /*float: left;*/
    width: 95%;
		/*margin: auto auto;*/
}

.table{
	grid-row: 2 / span 2;
	grid-column: 4 / span 1;
}

table{
  border: 1px solid black;
	width: 360px;
	font-size: 16px;    	
	/*height: 40%;*/
    	/*margin: 10px;*/
	/*float: right;*/
}

th {
    background: #FFFFFF;
    text-align: center;
    height: 60px;
    width: 50px;
    padding: 5px;
}

td {
    padding: 5px;
    height: 20px;
}

.rocketBody{
	grid-row: 2 / span 2;
	grid-column: 5 / span 1;
	
}

#rocketBody{
	border: 1px solid black;
}

#imprint {
    color: Gray;
    font-size: 14px;
    text-align: left;
    margin: 10px auto auto 10px;
    padding: 5px;
    float: left;
}

.slider {
    -webkit-appearance: none;
    background: #d3d3d3;
    height: 5px;
    width: 90%;
    transition: opacity 0.3s;	
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider:hover{
    opacity: 0.5;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: #FFFFFF;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
	margin: 6px 1px 6px 16px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: #ffffff;
  color: #808080;
  text-align: left;
  padding: 15px 15px;
  border-radius: 6px;
	border: 1px solid black;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 132%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.4s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
