body {
    background-image: linear-gradient(to bottom right, #4da6ff, #ffffff);
    font-family: Arial;
}

#title {
    background-color: white;
    font-family: Lucida Sans Unicode;
    font-size: 40px;
    text-align: center;
		width: 70%;
    margin: auto auto;
    padding: 10px;
}

h2{
    text-align: center;
    padding: 20px;
}

h3{
		font-size: 18px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 16px;
    text-align: center;
		margin: 10px auto;
}

#stagesSlider {
		margin-left: auto;
    margin-right: auto;
    width: 180px;
}

#unitsSlider {
    display: none;
		float: left;
    margin-left: 20px;
    width: 110px;
}

.upperSliderContainer{
    height: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 1920px;
		margin: 10px;
}

.slidersGrid{
		width: 25%;
		float: left;
}

.sliderContainer{
    float: left;
    width: 95%;
    min-width: 250px;
    max-width: 1920px;
		/*margin: auto auto;*/
}

.slider {
    -webkit-appearance: none;
    background: #d3d3d3;
    height: 5px;
    width: 90%;
    transition: opacity 0.3s;	
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider:hover{
    opacity: 0.5;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: #FFFFFF;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#stage2 {
    display: inline;
}

#stage3 {
    display: inline;
}

.value2 {
    display: table-cell;
}

.value3 {
    display: table-cell;
}

table{
    border: 1px solid black;
    height: 40%;
    margin: 10px;
		float: left;
}

th {
    background: #FFFFFF;
    text-align: center;
    height: 60px;
    width: 50px;
    padding: 5px;
}

td {
    padding: 5px;
    height: 20px;
}

#plotsContainer{
		display: inline-grid;
		grid-template-columns: auto auto;
		margin: 10px auto;
}

.plot{
    border: 1px solid black;
	  margin: 0px 10px 40px 10px;
		float: left;
}

#imprint {
    color: Gray;
    font-size: 14px;
    text-align: left;
    margin: 10px auto auto 10px;
    padding: 5px;
    float: left;
}

button {
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4CAF50;
    border: 20px invisible white;
    font-size: 22px;
    color: #FFFFFF;
    padding: 5px;
    width: 120px;
    height: 45px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s